<ul class="social-media-list">
  {%- if site.amazon_profile -%}
    <li>
      <a href="https://www.amazon.com/gp/profile/{{ site.amazon_profile | cgi_escape | escape }}">
        <i class="fab fa-amazon"></i>
        <span class="username">Amazon</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.bandcamp_username -%}
    <li>
      <a href="https://bandcamp.com/{{ site.bandcamp_username | cgi_escape | escape }}">
        <i class="fab fa-bandcamp"></i>
        <span class="username">Bandcamp</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.bitbucket_username -%}
    <li>
      <a href="https://bitbucket.org/{{ site.bitbucket_username | cgi_escape | escape }}">
        <i class="fab fa-bitbucket"></i>
        <span class="username">Bitbucket</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.disqus_username -%}
    <li>
      <a href="https://disqus.com/by/{{ site.vk_username | cgi_escape | escape }}/">
        <i class="fas fa-comment"></i>
        <span class="username">Disqus</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.facebook_username -%}
    <li>
      <a href="https://www.facebook.com/{{ site.facebook_username | cgi_escape | escape }}">
        <i class="fab fa-facebook"></i>
        <span class="username">Facebook</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.github_username -%}
    <li>
      <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
        <i class="fab fa-github"></i>
        <span class="username">GitHub</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.gitlab_username -%}
    <li>
      <a href="https://gitlab.com/{{ site.gitlab_username | cgi_escape | escape }}">
        <i class="fab fa-gitlab"></i>
        <span class="username">GitLab</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.google_plus_profile -%}
    <li>
      <a href="https://plus.google.com/{{ site.google_plus_profile | cgi_escape | escape }}">
        <i class="fab fa-google-plus-g"></i>
        <span class="username">Google+</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.instagram_username -%}
    <li>
      <a href="https://www.instagram.com/{{ site.instagram_username | cgi_escape | escape }}">
        <i class="fab fa-instagram"></i>
        <span class="username">Instagram</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.kinopoisk_username -%}
    <li>
      <a href="https://mykp.ru/{{ site.kinopoisk_username | cgi_escape | escape }}">
        <span class="username">KinoPoisk</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.linkedin_profile -%}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_profile | cgi_escape | escape }}">
        <i class="fab fa-linkedin"></i>
        <span class="username">LinkedIn</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.pocket_username -%}
    <li>
      <a href="https://getpocket.com/@{{ site.pocket_username | cgi_escape | escape }}">
        <i class="fab fa-get-pocket"></i>
        <span class="username">Pocket</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.quora_profile -%}
    <li>
      <a href="https://www.quora.com/profile/{{ site.quora_profile | cgi_escape | escape }}">
        <i class="fab fa-quora"></i>
        <span class="username">Quora</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.reddit_username -%}
    <li>
      <a href="https://www.reddit.com/user/{{ site.reddit_username | cgi_escape | escape }}">
        <i class="fab fa-reddit"></i>
        <span class="username">Reddit</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.skype_link -%}
    <li>
      <a href="https://join.skype.com/invite/{{ site.skype_link | cgi_escape | escape }}">
        <i class="fab fa-skype"></i>
        <span class="username">Skype</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.soundcloud_username -%}
    <li>
      <a href="https://soundcloud.com/{{ site.soundcloud_username | cgi_escape | escape }}">
        <i class="fab fa-soundcloud"></i>
        <span class="username">SoundCloud</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.stackoverflow_story -%}
    <li>
      <a href="https://stackoverflow.com/story/{{ site.stackoverflow_story | cgi_escape | escape }}">
        <i class="fab fa-stack-overflow"></i>
        <span class="username">StackOverflow</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.telegram_username -%}
    <li>
      <a href="https://t.me/{{ site.telegram_username | cgi_escape | escape }}">
        <i class="fab fa-telegram"></i>
        <span class="username">Telegram</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.twitter_username -%}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}">
        <i class="fab fa-twitter"></i>
        <span class="username">Twitter</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.vk_username -%}
    <li>
      <a href="https://vk.com/{{ site.vk_username | cgi_escape | escape }}">
        <i class="fab fa-vk"></i>
        <span class="username">VK</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.youtube_channel -%}
    <li>
      <a href="https://www.youtube.com/channel/{{ site.youtube_channel | cgi_escape | escape }}">
        <i class="fab fa-youtube"></i>
        <span class="username">YouTube</span>
      </a>
    </li>
  {%- endif -%}
</ul>
